<html>
    <head>
        <title>
            Safa Sajid
        </title>
    </head>
    <body>
        <h1>
            Hi! My name is Safa Sajid, and I'm a second year student at the University of British Columbia. 
        </h1>
        <h2>
            My projects:
        </h2>
        
        <h3>
            Recipe Analyzer - MySQL, Java
            
            <video width="500px" height="500px"
                   controls="controls"/>
                <source src="recipemanager.mp4"
                        type="video/mp4">
            </video>
        <br>
        
                <a href="https://github.com/safams/Movie-Theatre">
                    Movie Theatre
                </a>- Java, JUnit, JSwing
       
        
        </h3>
    </body>
</html>
